Write a function using Python Pandas that will add a new column to your dataframe containing a new grade normalized against the mean age of the students.

In [3]:
#Python
import pandas as pd
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'age':[20, 21, 19, 18],
        'grade': [88,95,92,70],
        'fav_color': ['Black', 'Blue', 'Green','Red']
       }

# Create DataFrame
df = pd.DataFrame(data)

df.head()

    Name  age  grade fav_color
0    Tom   20     88     Black
1   nick   21     95      Blue
2  krish   19     92     Green
3   jack   18     70       Red

In [4]:

#first, we'll take the mean age across the dataframe and save as a variable
mean_age = df['age'].mean()

#next, we can create a new column using df.apply
#to normalize, we'll take the age for a given student, divide by the mean age of all students, and multiply by the student's grade to arrive at a normalized grade
df['grade_normalized'] = df.apply(lambda row: ((row['age'])/mean_age)*row['grade'], axis=1)

#preview the dataframe
df.head()

    Name  age  grade fav_color  grade_normalized
0    Tom   20     88     Black         90.256410
1   nick   21     95      Blue        102.307692
2  krish   19     92     Green         89.641026
3   jack   18     70       Red         64.615385